*{
    margin: 0px;
    border: 0px;
}

body{
    background-color: aquamarine;
}
header{
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px;
}
main{
    padding: 10px;
}
section{
    background-color: white;
    margin: auto;
    width: 750px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    padding-right: 40px;
}
section p{
    text-align: justify;
    padding: 20px;
   text-indent: 10px;
   margin: 10px;
}
section h1{
    padding: 10px; 
    text-align: center;
}

footer{
    padding: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
    
}

footer a{
    color: white;
}